api/routes/models/__pycache__
api/generator/__pycache__
api/routes/__pycache__
tests/rest_of_code.py
tests/test_code.py
tests/__pycache__
api/__pycache__
.pytest_cache
develop_api
ideas.md
.vscode
.vercel
.env
README-dev.md
README-en.md
